@charset "ISO-8859-1";
.dbdiagram
{
	display:inline-block;
	padding:1rem;
	border:solid black 3px;
}

.dbrel
{
	text-align:center;
	padding-top:50%;
}

.sep
{
	height:3px;
	border:none;
	color:#333;
	background-color:#333;
}