@charset "ISO-8859-1";
.line{

          
          color:black;
          height:100px;
          margin:0;
          width:100px;
      }
    .ucRow {
    display: table;
    width: 750px;
    table-layout: fixed;
    border-spacing: 10px;
	}
	.actor{
	    display: table-cell;
	    border: solid 1px black;
    	border-radius: 5%;
    	padding: 1rem;
	}
	
	.ucfield
	{
		display: table-cell;
	    border: solid 1px red;
    	border-radius: 20%;
    	padding: 1rem;
	}
	.emptycol
	{
		display: table-cell;
	}